@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}


h1, h2, h3 {
font-family: 'Montserrat', sans-serif;
}

html,body {
scroll-behavior: smooth;
overflow-x: hidden;
max-width: 100%;
background-color: black;
}

#cus-bg {
background: #10002b;
}

#cus-bg2 {
background: #290628;
}

#cus-bg3 {
background: #240046;
}

#exposure {
background-image: url("../img/languages-bg.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 730px; 
}

.myvideo {
width: 100%;
height: auto;
background-color: black;
position: relative;
margin-bottom: -10px;
}

.pk-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: black;
opacity: 0.8;
/* border: 5px solid green; */
}

.img-cover {
background-image: url("../img/mockup-sum.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 600px;
filter: brightness(70%);
}

.img-cover2 {
background-image: url("../img/smartmockups_kqn3r2cl.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 600px;
filter: brightness(70%);
}

.img-cover3 {
background-image: url("../img/muck-advance.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 600px;
filter: brightness(70%);
}

.img-cover4 {
background-image: url("../img/ux(1).jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 700px;
filter: brightness(70%);
}

.skills {
width: 80px;
height: auto;
margin: 10px;
padding: 10px;
opacity: 0.8;
}

.languages {
margin: 10px;
padding: 10px;
}

.adobe img {
width: 80px;
margin: 10px;
padding: 10px;
}


.f-title {
margin-bottom: -41px;
}

.nav {
width: 100%;
height: 83px;
position: fixed;
z-index: 10;
opacity: 0.9;
}


.for-icons {
width: 100%; 
display: flex;
align-items: center;
justify-content: center;

}

.ul-con {
width: 80%; }

.nav ul {
margin-top: 45px;
margin-left: 65px;
/* border: 1px solid green; */ }

.nav li {
display: inline;
list-style: none;
padding: 10px;
margin: 10px;
font-size: 25px; }

.nav a:hover {
color: orange; }

.nav a {
text-decoration: none;
color: black; }


/* sec nac css  */

.sec-nav {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
/* visibility: hidden;   */
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
z-index: 9;
background: black;
opacity: 0.9;
}


.sec-nav li {
list-style: none;
color: white;
font-size: 1.5rem;
padding: 1rem;
}

.sec-nav a {
color: inherit;
text-decoration: none;
transition: color 0.4s ease;
}

/* hamburger menu  */

.menu-btn {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 20px;
cursor: pointer;
transition: all .5s ease-in-out;
float: right;
}

.menu-btn__burger {
width: 40px;
height: 6px;
background: #fff;
border-radius: 5px;
transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
content: '';
position: absolute;
width: 40px;
height: 6px;
background: #fff;
border-radius: 5px;
transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
transform: translateY(-16px);
}
.menu-btn__burger::after {
transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
transform: translateX(-50px);
background: transparent;
box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
transform: rotate(-45deg) translate(35px, 35px);
}

.menu-btn ~ .overlay {
visibility: visible;
}

.menu-btn ~ .overlay {
visibility: visible;
}
/* end of hamburger menu */

.wlc {
font-size: 50px;
}


.hero-image {
background-image: url("../img/john-towner-JgOeRuGD_Y4-unsplash.jpg");
height: 900px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative; 
/* filter: brightness(70%); */
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 
opacity: 0.9;
}


.lol {
/* border: 1px solid blue; */
margin: 75px auto;
display: block;
width: 400px; }


.lol2 {
/* border: 1px solid blue; */
margin: 75px auto;
display: block; }


.mail2 {
font-size: 30px;
color: black;
margin: 5px; }


.face2 {
font-size: 30px;
color: black;
margin: 5px; }


.insta2 {
font-size: 30px;
color: black;
margin: 5px; }


.github {
width: 28px;
color: rgb(39, 31, 31);
margin: 5px;
margin-top: 9px;
} 

.footer {
position: relative;
}


.mockUps {
width: 80%;
margin: 10%; }

.mockUps3 {
width: 80%;
margin: 10%; }

.mockUps3:hover {
border: 3px solid orange; }

.mockUps:hover {
border: 3px solid orange; }

.profileImage {
width: 65%; }

.myProfile {
width: 60%;
height: auto;
border-radius: 360px;

}

.myButtons {
width: 120px;
height: 58px;
padding: 5px;
background: white;
border: 1px solid black;
border-radius: 45px;
color: black;
margin: auto;
display: block; 
}

.extra-m {
margin-bottom: 50px;
}

.mockFinalContainer a {
text-decoration: none;
color: white;
}


.myButtons:hover {
text-decoration: none; 
background-color: orange;
color: white;
border: none;
}



.subHeaders {
margin-top: 120px;
margin-bottom: -20px;
}

.paraDesign {
font-size: 20px; }

.abt-me {
font-size: 55px; }

.con-section {
background-color: white;
}

.myForm {
color: white;
margin: auto;
width: 62%;
}

.thanks {
font-size: 80px;
margin-top: 220px;
}

.thanks2 {
font-size: 40px;
}


@media only screen and (max-width: 1100px) {
.pk-content {
width: 100%;
opacity: 1;
transition: 2.5s ease;
}

.myvideo {
height: 600px;
}
}

@media only screen and (max-width: 414px) {
.pk-content {
opacity: 1;
}

.subHeaders {
margin-left: 0px;
margin-top: 50px; }

.myvideo {
visibility: hidden;
}

.mockUps3 {
width: 80%;
margin: 10%;
margin-top: 56px; }

.mockUps {
width: 80%;
margin: 10%;
margin-top: 50px; }

.para-contact {
font-size: 15px; }

.info-abt {
font-size: 18px; }

.abt-me {
font-size: 35px; } 


.frm-w {
width: 275px;
margin-left: -80px;
}

.btn-dark {
margin-left: -80px;
width: 180px;
}

.myForm {
margin-top: -47px;
}

.myProfile {
width: 80%;
}

.ab-ti {
font-size: 30px;
}

.f-title {
margin-top: 40px;
margin-bottom: 7px;
font-size: 22px;
}

.sn-bu {
margin-left: -78px;
width: 142px;
}

.wlc {
font-size: 35px;
}

.skills {
width: 60px;
}

.adobe img {
margin-bottom: 60px;
}

.thanks {
font-size: 50px;
margin-top: 300px;
}

.thanks2 {
font-size: 20px;
}
}