@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$primary : #B48C6B; //light brown
$secondary : #CCE4FC; //light-blue
$info : #FCBC94;  //light orange


h1, h2, h3 {
	font-family: 'Lobster', cursive;
}


@import "home";
@import "buttons";
@import "text";


@media (min-width:300px) and (max-width:414px){


	.subHeaders {
	   margin-left: 0px;
		 margin-top: 23px;
	}


	.mockUps3 {
	    width: 80%;
	    margin: 10%;
	    margin-top: 56px;
	}

	.mockUps {
	    width: 80%;
	    margin: 10%;
	    margin-top: 50px;
	}

	.para-contact {
		font-size: 25px;
	}

  .info-abt {
    font-size: 18px;
  }

  .abt-me {
    font-size: 35px;
  }


}
